.orangecolor {
    color: #E6533C;

}
* {
    background-color: black;
    margin: 0;
}

.title {
  
  font-weight:800;
  font-size: 30px;

}

body {
    background-color: black;
}

.container {
    width: 80%;
    margin: 5rem auto;
    border-radius: 1rem;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-options {
    border: 1px solid gray;
    display: flex;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    border-radius: 8px
}
.box {
    border: 2px solid #E6533C;

}


.title {
    
    
    font-weight: bold; 
    font-size: 25px;
}

.span {
    color:#E6533C;
    border: 2px solid #E6533C;
    flex-wrap: wrap;
    
    
}



.explore {
    
    background-image: linear-gradient(
        180deg,
        rgba(39, 39, 42, 0.906) 0%,
        rgba(224, 224, 240, 0) 70%
        ),url('../images/explore.png');
    
    background-repeat: no-repeat;
    
    background-position: right;
    padding: 30rem 30rem;
    background-repeat: no-repeat;
    color: white;
    
    margin: 0;
    
    
   
    
}


    
.btn-primary {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    color: white;
    border-radius: 8px;
   
    border: 1px solid #E6533C;
    background-color: #E6533C;
}
   

.bigfont {

    font-weight: 800;

    
}



.btn {
    
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}

.explore h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
    margin: 0;
    background-color: #2f2e2e;
    
}


.explore p {
    font-size: 18px;
    margin: 10px 10 10px 0;
    margin: 0;
    width: 100%;
    text-align: left;
    box-sizing: border-box; 
    color: gray;
    margin-top: 5px;
    background-color: #2f2e2e;
}


.italic-font {
    font-style: italic;
}


.btns  {
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
}

.rates {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.rate {
    margin: 0 20px;
    text-align: center;
}

.rate h2 {
    font-size: 28px;
    color: white;
    background-color: #2f2e2e;
}

.rate p {
    font-size: 16px;
    color: #666;
}


.banner {
    background-color: #666;
}

.clr {
    background-color: #2f2e2e;
}


.change-section {
    margin: 0;
    color: white;
    padding: 20px 20px;
    text-align: center;
}


.change-section p {
    margin-top: 10px;
    color: #666;
}

.grid-items {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid {
    width: 200px;
    margin: 20px;
    text-align: center;
}

.change-section img {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}



.push-section {
    margin: 20px 20px;
    color: white;
    padding: 20px 20px;
    text-align: center;
    background-color: #2f2e2e;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(4px);

}

.push-section h2 p {
    margin: 0;
    background-color:#2f2e2e ;
    
}

.clr2 {
    background-color: #2f2e2e;
}

.btn-size {
    margin-top: 10px;
    padding: 10px 10px;
    width: 90px;
}

.push-section h2 {
    color: rgb(137, 187, 187);
    margin-bottom: 10px;
}


.push-section img {
    width: 35%;
    background-color: #2f2e2e;
    background-size: cover;

    backdrop-filter: blur(4px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
    background-position: right;
    border-radius: 20px;

    
}

.push-section p {
    color: gray;
}


.unique-section {
    color: white;
    text-align: center;
    backdrop-filter: blur(4px);
    background-color: rgba(98, 85, 85, 0.65);
    border-radius: 20px;
    display: flex;
}

.clr3 {
    background-color: rgba(80, 79, 79, 0.65);
}

.bmi-calcu{
    text-align: center;
    
    margin-top: 30px;
    
    color: white;
    
   
    
    display: flex;
    
}

.align-r {
    background-color: rgba(80, 79, 79, 0.65);
    display: flex;
    align-items: flex-start;
    color: rgb(213, 207, 207);
    width: 300px;
    
    
    
    
}

.align-l {
    margin-top: 10px;
    background-color: rgba(80, 79, 79, 0.65);
    display: flex;
    align-items: flex-start;
    color: rgb(213, 207, 207);
    width: 300px;
    text-align: right;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    text-align: center;
}

.team-members {
    color: white;
    text-align: center;
    margin-top: 10px;

}

.gym {
    position: absolute;
    margin: 0;
    background-color: #666;
    bottom: 10%;
    left: 20%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.team-grid {
    position: relative;

}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;

}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}

.team-members img {
    width: 100%;
    height: 300px;
    filter: brightness(80%);
}